*{
    padding: 0;
    margin: 0;
}
.displayNone{
    display: none;
}
main{
    display: flex;
    flex-flow: column;
    height: 150vh;
    background-color: aliceblue;
}
main > section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
main > #array-showcase {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
main > #array-showcase > .card{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 20px;
    box-shadow: -3px 1px 10px 0 gray;
}
main > #section-title {
    padding: 50px;
    text-align: center;
}
main > #section-slot{
    height: 50%;
}
main > #section-login {
    height: 20%;
    width: 100%;
}
main > #section-slot > h6{
    margin-bottom: 4%;
}
main > #section-slot > .articleFiguras {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > #section-slot > .betHolder{
    padding: 0px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
main > #section-slot > .messageBox {
    padding-bottom: 20px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main > #section-slot > .messageBox > p {
    margin: 10px;
}
main > #section-slot > .winLog {
    padding-bottom: 20px;
    text-align: center;
}
main > #section-slot > .betHolder > .button{
    margin-right: 10%;
}
main > #section-slot > .betHolder > .betBtn{
    margin: 0 10px 0 0;
}
main > #section-slot > .betHolder > .betBtn2{
    margin: 0 0 0 10px;
}
main > #section-slot > article > .contenedorFiguras{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > #section-slot > article > .contenedorFiguras > .figuras{
    border: 5px solid black;
    height: 100%;
    margin: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: -3px 1px 10px 0 gray;
}
main > #section-slot > article > .contenedorFiguras > .figuras > .fig{
    box-shadow: -3px 1px 5px 0 gray;
    padding: 25%;
}
.amarillo{
    background-color: yellow;
    border-radius: 10% 65% 10% 65%;
    border: 5px solid gold;
}
.naranja{
    border-radius: 100%;
    background-color: orange;
    border: 5px solid tomato;
}
.cian{
    transform: rotate(-45deg);
    background-color: cyan;
    border: 5px solid steelblue;
    border-radius: 25%;
}